---
title: Centering in CSS
date: '2021-08-20'
description: How to center items using both flex and grid
tags:
  - css
draft: true
---

Both flexbox and grid have ways of centering items, so below I will show you both ways.

## Using Flexbox

```css
.center {
	display: flex;
	justify-content: center; /* horizontally */
	align-items: center; /* vertically */
}
```

## Using grid

```css
.center {
	display: grid;
	place-items: center;
}
```
